.more-screen .icon-row{ 
    margin-top:35px;
 

}
.more-suggestios{
    margin-top: 50px;
    border-top: var(--main-border);
}
.more-suggestios{
    padidng-top:40px;
}
.more-suggestions_title{
    margin-bottom: 30px;
}
.icon-row style{
   justify-content: space-between;
}
